.DS_Store
.dev.vars
node_modules/
.wrangler/
.local-test-server.log
.local-test-server.pid
.vscode/.chrome-debug-profile
.vscode/.edge-debug-profile/
.vscode/.firefox-debug-profile/
debug.log
Main/content/sync-timestamp.json
